<h1>Contact</h1>
<p>Thank you for your interest in our company. Please fill out the form below, if you have any queries.</p>
<form>
	<div class="">
    <input type="text" id="name" class="" placeholder="Name" required="required">
    <label for="name" class="sr-only"></label>
  </div>
  <div class="">
    <input type="email" id="email" class="" placeholder="Email" required="required">
    <label for="email" class="sr-only"></label>
  </div>
  <div>
    <textarea class="" placeholder="Comment" style="resize:none" cols="40" rows="5" required="required"></textarea>
  </div>
  <button type="submit">Submit</button>      
</form>
